.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
}

.container form {
    display: flex;
    flex-direction: column;

}

.container form input,
.container form select {
    margin: 5px 2px;
    padding: 10px;
}